USE [master]
GO
/****** Object:  Database [DoAn_ChuyenMon]    Script Date: 9/5/2021 6:26:36 PM ******/
CREATE DATABASE [DoAn_ChuyenMon]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DoAn_ChuyenMon', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER01\MSSQL\DATA\DoAn_ChuyenMon.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DoAn_ChuyenMon_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER01\MSSQL\DATA\DoAn_ChuyenMon_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DoAn_ChuyenMon].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DoAn_ChuyenMon]
GO
/****** Object:  Table [dbo].[ChiTietDonHang]    Script Date: 9/5/2021 6:26:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietDonHang](
	[MaDH] [int] NOT NULL,
	[MaSP] [int] NOT NULL,
	[SoLuong] [int] NULL,
	[DonGia] [decimal](18, 0) NULL,
 CONSTRAINT [PK_ChiTietDonHang] PRIMARY KEY CLUSTERED 
(
	[MaDH] ASC,
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChuyenMuc]    Script Date: 9/5/2021 6:26:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChuyenMuc](
	[Ma] [int] IDENTITY(1,1) NOT NULL,
	[Ten] [nvarchar](500) NULL,
	[Mota] [ntext] NULL,
	[MaCT] [int] NULL,
 CONSTRAINT [PK_ChuyenMuc] PRIMARY KEY CLUSTERED 
(
	[Ma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonHang]    Script Date: 9/5/2021 6:26:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonHang](
	[Ma] [int] IDENTITY(1,1) NOT NULL,
	[MaKH] [int] NULL,
	[NgayDat] [date] NULL,
	[NgayGiao] [date] NULL,
	[PhiGiao] [decimal](10, 0) NULL,
	[TenNguoiNhan] [nvarchar](500) NULL,
	[DiaChi] [nvarchar](500) NULL,
	[DienThoai] [varchar](16) NULL,
	[Email] [nvarchar](500) NULL,
	[TrangThai] [bit] NULL,
	[PhuongThucTT] [nvarchar](500) NULL,
 CONSTRAINT [PK_DonHang] PRIMARY KEY CLUSTERED 
(
	[Ma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 9/5/2021 6:26:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[Ma] [int] IDENTITY(1,1) NOT NULL,
	[Ten] [nvarchar](500) NULL,
	[DiaChi] [nvarchar](500) NULL,
	[DienThoai] [char](16) NULL,
	[Email] [varchar](100) NULL,
	[Password] [nvarchar](500) NULL,
 CONSTRAINT [PK_KhachHang] PRIMARY KEY CLUSTERED 
(
	[Ma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiSP]    Script Date: 9/5/2021 6:26:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiSP](
	[Ma] [int] IDENTITY(1,1) NOT NULL,
	[Ten] [nvarchar](500) NULL,
	[Mota] [ntext] NULL,
 CONSTRAINT [PK_LoaiSP] PRIMARY KEY CLUSTERED 
(
	[Ma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NguoiDung]    Script Date: 9/5/2021 6:26:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguoiDung](
	[Ma] [int] IDENTITY(1,1) NOT NULL,
	[Ten] [nvarchar](500) NULL,
	[GioiTinh] [bit] NULL,
	[DiaChi] [nvarchar](500) NULL,
	[DienThoai] [char](16) NULL,
	[Email] [nvarchar](500) NULL,
	[TenDangNhap] [nvarchar](50) NULL,
	[MatKhau] [nvarchar](500) NULL,
	[Anh] [nvarchar](500) NULL,
	[Quyen] [nvarchar](500) NULL,
 CONSTRAINT [PK_NguoiDung] PRIMARY KEY CLUSTERED 
(
	[Ma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SP]    Script Date: 9/5/2021 6:26:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SP](
	[Ma] [int] IDENTITY(1,1) NOT NULL,
	[Ten] [nvarchar](500) NULL,
	[MoTa] [ntext] NULL,
	[MaLoai] [int] NULL,
	[AnhNho] [nvarchar](500) NULL,
	[Anh1] [nvarchar](500) NULL,
	[Anh2] [nvarchar](500) NULL,
	[Anh3] [nvarchar](500) NULL,
	[TSKT] [ntext] NULL,
	[TieuBieu] [bit] NULL,
	[TrangThai] [bit] NULL,
	[Xoa] [bit] NULL,
	[Hang] [nvarchar](500) NULL,
	[Gia] [decimal](18, 0) NULL,
	[KhuyenMai] [int] NULL,
	[NgayDang] [date] NULL,
	[DVT] [nvarchar](50) NULL,
 CONSTRAINT [PK_SP] PRIMARY KEY CLUSTERED 
(
	[Ma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TinTuc]    Script Date: 9/5/2021 6:26:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TinTuc](
	[Ma] [int] IDENTITY(1,1) NOT NULL,
	[MaCM] [int] NULL,
	[MotaNgan] [nvarchar](500) NULL,
	[Mota] [ntext] NULL,
	[NgayDang] [date] NULL,
	[Anh] [nvarchar](500) NULL,
	[NguoiDang] [nvarchar](500) NULL,
	[TieuBieu] [bit] NULL,
	[LoaiTin] [nvarchar](500) NULL,
	[TieuDe] [nvarchar](500) NULL,
 CONSTRAINT [PK_TinTuc] PRIMARY KEY CLUSTERED 
(
	[Ma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[ChiTietDonHang] ([MaDH], [MaSP], [SoLuong], [DonGia]) VALUES (21, 2022, 1, CAST(240000 AS Decimal(18, 0)))
INSERT [dbo].[ChiTietDonHang] ([MaDH], [MaSP], [SoLuong], [DonGia]) VALUES (21, 2024, 1, CAST(244000 AS Decimal(18, 0)))
INSERT [dbo].[ChiTietDonHang] ([MaDH], [MaSP], [SoLuong], [DonGia]) VALUES (22, 2010, 1, CAST(42000 AS Decimal(18, 0)))
GO
SET IDENTITY_INSERT [dbo].[ChuyenMuc] ON 

INSERT [dbo].[ChuyenMuc] ([Ma], [Ten], [Mota], [MaCT]) VALUES (21, N'Thể thao', N'Tin tức về thể thao', NULL)
INSERT [dbo].[ChuyenMuc] ([Ma], [Ten], [Mota], [MaCT]) VALUES (22, N'Video', N'Những video liên quan nấu ăn', NULL)
INSERT [dbo].[ChuyenMuc] ([Ma], [Ten], [Mota], [MaCT]) VALUES (23, N'Chính Trị', N'Thông tin chính trị trong và ngoài nước', NULL)
SET IDENTITY_INSERT [dbo].[ChuyenMuc] OFF
GO
SET IDENTITY_INSERT [dbo].[DonHang] ON 

INSERT [dbo].[DonHang] ([Ma], [MaKH], [NgayDat], [NgayGiao], [PhiGiao], [TenNguoiNhan], [DiaChi], [DienThoai], [Email], [TrangThai], [PhuongThucTT]) VALUES (21, NULL, CAST(N'2021-05-11' AS Date), NULL, NULL, N'lê lâm', N'Hà nam', N'0987113982', N'phungdinhminh1999@gmail.com', NULL, N'Giao hang lay tien')
INSERT [dbo].[DonHang] ([Ma], [MaKH], [NgayDat], [NgayGiao], [PhiGiao], [TenNguoiNhan], [DiaChi], [DienThoai], [Email], [TrangThai], [PhuongThucTT]) VALUES (22, NULL, CAST(N'2021-05-16' AS Date), NULL, NULL, N'phạm hải', N'vụ bản nam định', N'0987113982', N'phungdinhminh1999@gmail.com', NULL, N'Giao hang lay tien')
INSERT [dbo].[DonHang] ([Ma], [MaKH], [NgayDat], [NgayGiao], [PhiGiao], [TenNguoiNhan], [DiaChi], [DienThoai], [Email], [TrangThai], [PhuongThucTT]) VALUES (35, NULL, CAST(N'2021-05-16' AS Date), NULL, NULL, N'Lê Thanh Oai', N'Hà Nội', N'0384577854', N'phungdinhminh1999@gmail.com', NULL, N'Giao hang lay tien')
SET IDENTITY_INSERT [dbo].[DonHang] OFF
GO
SET IDENTITY_INSERT [dbo].[KhachHang] ON 

INSERT [dbo].[KhachHang] ([Ma], [Ten], [DiaChi], [DienThoai], [Email], [Password]) VALUES (1, N'Phạm linh', N'nam định', N'0999999999      ', N'linh@123', N'123')
SET IDENTITY_INSERT [dbo].[KhachHang] OFF
GO
SET IDENTITY_INSERT [dbo].[LoaiSP] ON 

INSERT [dbo].[LoaiSP] ([Ma], [Ten], [Mota]) VALUES (3, N'Dinh dưỡng thiết yếu', N'a')
INSERT [dbo].[LoaiSP] ([Ma], [Ten], [Mota]) VALUES (4, N'Rau hữu cơ', N'b')
INSERT [dbo].[LoaiSP] ([Ma], [Ten], [Mota]) VALUES (5, N'Rau củ an toàn', N'c')
SET IDENTITY_INSERT [dbo].[LoaiSP] OFF
GO
SET IDENTITY_INSERT [dbo].[NguoiDung] ON 

INSERT [dbo].[NguoiDung] ([Ma], [Ten], [GioiTinh], [DiaChi], [DienThoai], [Email], [TenDangNhap], [MatKhau], [Anh], [Quyen]) VALUES (1, N'huy hoàng', 1, N'nd', N'09999999999     ', N'hphuy1206@gmail.com', N'hoang997', N'123456', N'1', N'admin')
INSERT [dbo].[NguoiDung] ([Ma], [Ten], [GioiTinh], [DiaChi], [DienThoai], [Email], [TenDangNhap], [MatKhau], [Anh], [Quyen]) VALUES (5, N'hà linh', NULL, NULL, NULL, N'linh@123', N'linh', N'12', N'/admin/content/files/phunuchongungthu.jpg', NULL)
SET IDENTITY_INSERT [dbo].[NguoiDung] OFF
GO
SET IDENTITY_INSERT [dbo].[SP] ON 

SET IDENTITY_INSERT [dbo].[SP] OFF
GO
SET IDENTITY_INSERT [dbo].[TinTuc] ON 

SET IDENTITY_INSERT [dbo].[TinTuc] OFF
GO
ALTER TABLE [dbo].[ChiTietDonHang]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietDonHang_DonHang] FOREIGN KEY([MaDH])
REFERENCES [dbo].[DonHang] ([Ma])
GO
ALTER TABLE [dbo].[ChiTietDonHang] CHECK CONSTRAINT [FK_ChiTietDonHang_DonHang]
GO
ALTER TABLE [dbo].[ChiTietDonHang]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietDonHang_SP] FOREIGN KEY([MaSP])
REFERENCES [dbo].[SP] ([Ma])
GO
ALTER TABLE [dbo].[ChiTietDonHang] CHECK CONSTRAINT [FK_ChiTietDonHang_SP]
GO
ALTER TABLE [dbo].[DonHang]  WITH CHECK ADD  CONSTRAINT [FK_DonHang_KhachHang] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([Ma])
GO
ALTER TABLE [dbo].[DonHang] CHECK CONSTRAINT [FK_DonHang_KhachHang]
GO
ALTER TABLE [dbo].[SP]  WITH CHECK ADD  CONSTRAINT [FK_SP_LoaiSP] FOREIGN KEY([MaLoai])
REFERENCES [dbo].[LoaiSP] ([Ma])
GO
ALTER TABLE [dbo].[SP] CHECK CONSTRAINT [FK_SP_LoaiSP]
GO
ALTER TABLE [dbo].[TinTuc]  WITH CHECK ADD  CONSTRAINT [FK_TinTuc_ChuyenMuc] FOREIGN KEY([MaCM])
REFERENCES [dbo].[ChuyenMuc] ([Ma])
GO
ALTER TABLE [dbo].[TinTuc] CHECK CONSTRAINT [FK_TinTuc_ChuyenMuc]
GO
USE [master]
GO
