@model LoaiSp

@{
    ViewBag.Title = "Admin - Chi tiết loại sản phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center">Chi tiết loại sản phẩm</h2>

<div class="container">
    <dl class="row">
        <dt class="col-sm-2">Tên</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Ten)</dd>

        <dt class="col-sm-2">Mô tả</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Mota)</dd>
    </dl>

    <div class="text-center">
        <a class="btn btn-warning" asp-area="Admin" asp-action="Edit" asp-controller="ProductCategory" asp-route-id="@Model?.Ma">Chỉnh sửa</a>
        <a class="btn btn-secondary" asp-area="Admin" asp-action="Index" asp-controller="ProductCategory">Quay về danh sách</a>
    </div>
</div>
