@model LoaiSp

@{
    ViewBag.Title = "Admin - Chi tiết loại sản phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>Chi tiết loại sản phẩm</h1>

<div>
    <dl class="dl-horizontal">
        <dt>
            Tên
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ten)
        </dd>

        <dt>
            Mô tả
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mota)
        </dd>

    </dl>
</div>
<div>
    <a class="btn btn-success" asp-area="Admin" asp-action="Edit" asp-controller="ProductCategory" asp-route-id="@Model?.Ma">Edit</a> |
    <a class="btn btn-success" asp-area="Admin" asp-action="Index" asp-controller="ProductCategory">Quay về danh sách</a>
</div>