@{
    OrganicFoodStoreContext db = new OrganicFoodStoreContext();
    var dsloai = db.LoaiSps.ToList();
}
<div class="container">
    <div class="row">
        <div class="col-lg-3">
            <div class="hero__categories">
                <div class="hero__categories__all">
                    <i class="fa fa-bars"></i>
                    <span>Danh Mục</span>
                </div>
                    <ul>
                        <li>
                            <a href="#">
                                <img src="~/StoreGrid/img/megamenu_item_icon1.jpg" alt="Dinh dưỡng thiết yếu" />&nbsp; Dinh dưỡng thiết yếu
                            </a>
                        </li>
                        <li>
                            <a asp-action="StoreGrid" asp-controller="Product" asp-route-id="4">
                                <img src="~/Lib/img/megamenu_item_icon2.jpg" alt="Rau hữu cơ" />&nbsp; Rau hữu cơ
                            </a>
                        </li>
                        <li>
                            <a asp-action="StoreGrid" asp-controller="SanPham" asp-route-id="5">
                                <img src="~/Lib/img/megamenu_item_icon3.jpg" alt="Rau củ an toàn" />&nbsp; Rau củ an toàn
                            </a>
                        </li>
                        <li>
                            <a asp-action="StoreGrid" asp-controller="SanPham" asp-route-id="6">
                                <img src="~/Lib/img/megamenu_item_icon4.jpg" alt="Thịt cá dân dã" />&nbsp; Thịt cá dân dã
                            </a>
                        </li>
                        <li>
                            <a asp-action="StoreGrid" asp-controller="SanPham" asp-route-id="7">
                                <img src="~/Lib/img/megamenu_item_icon5.jpg" alt="Trái cây" />&nbsp; Trái cây
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="~/Lib/img/megamenu_item_icon6.jpg" alt="Đồ sơ chế" />&nbsp; Đồ sơ chế
                            </a>
                        </li>
                        <li>
                            <a asp-action="StoreGrid" asp-controller="SanPham" asp-route-id="9">
                                <img src="~/Lib/img/megamenu_item_icon7.jpg" alt="Hải sản" />&nbsp; Hải sản
                            </a>
                        </li>
                        <li>
                            <a asp-action="StoreGrid" asp-controller="SanPham" asp-route-id="10">
                                <img src="~/Lib/img/megamenu_item_icon8.jpg" alt="Hàng khô" />&nbsp; Hàng khô
                            </a>
                        </li>

                    @*@foreach (var item in dsloai)
                    {
                    <li><a href="@Url.Action("store_grid","Sanpham")">@item.Ten</a></li>
                    }*@
                </ul>
            </div>
        </div>
        <div class="col-lg-9">
            <div class="hero__search">
                <div class="hero__search__form">
                    <form asp-action="Search" asp-controller="Product" method="post">
                        <div class="hero__search__categories">
                            Tất cả
                            <span class="arrow_carrot-down"></span>
                        </div>
                        <input type="text" name="txtsearch" placeholder="Bạn đang tìm kiếm sản phẩm gì?">
                        <button type="submit" class="site-btn">Tìm kiếm</button>
                    </form>
                </div>
                <div class="hero__search__phone">
                    <div class="hero__search__phone__icon">
                        <i class="fa fa-phone"></i>
                    </div>
                    <div class="hero__search__phone__text">
                        <h5>0999999999</h5>
                        <span>Hỗ trợ 24/7</span>
                    </div>
                </div>
            </div>

            <div class="hero__item set-bg">
                @*<div class="hero__text">
                <p style="color:chartreuse;font-size:20px;">Miễn phí vân chuyển</p>
                <a href="#" class="primary-btn">Mua Ngay</a>
                </div>*@
                <img src="~/Lib/img/banner/bn11.jpg" />
            </div>
        </div>
    </div>
</div>
