<div class="row">
    <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="footer__about">
            <div class="footer__about__logo">
                <div class="col-lg-7">
                    <div class="header__logo">
                        <a href="./index.html"><img src="~/Lib/img/logotps.png" alt=""></a>
                    </div>
                </div>
            </div>
            <ul>
                <li>&nbsp;Chuỗi cửa hàng thực phẩm sạch</li>
                <li>
                    <img src="~/lib/img/footer1/iconfinder_home_353416.png" />&nbsp;Lộc Hạ - TP Nam Định
                </li>
                <li>
                    &nbsp;<img style="width:25px; height:25px;" src="~/lib/img/footer1/iconfinder_phone-call_2561306.png" />&nbsp;&nbsp;Phone: 0867300224
                </li>
                <li>
                    &nbsp;<img style="width:25px; height:25px;" src="~/lib/img/footer1/iconfinder_67-gmail_1181190.png" />&nbsp;&nbsp;Email: nhom3.com@gmail.com
                </li>
            </ul>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-1">
        <div class="footer__widget">
            <h5>HỖ TRỢ KHÁCH HÀNG</h5>
            <ul>
                <li>
                    <a asp-action="StoreList" asp-controller="Footer">Danh sách cửa hàng</a>
                 </li>
                <li>
                    <a asp-action="BuyingGuide" asp-controller="Footer">Hướng dẫn mua hàng</a>
                 </li>
                <li>
                    <a href="#">Chính sách thẻ thành viên</a>
                 </li>
                <li>
                    <a asp-action="ReturnPolicy" asp-controller="Footer">Chính sách đổi, trả hàng</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="col-lg-3 col-md-12">
        <div class="footer__widget">
            <h5>FANPAGE FACEBOOK</h5>
            <div class="ftfacebook">
                <iframe name="f2cbcf6923eb318" data-testid="fb:page Facebook Social Plugin" title="fb:page Facebook Social Plugin" allowtransparency="true" allowfullscreen="true" scrolling="no" allow="encrypted-media" style="border: medium none; visibility: visible; width: 300px; height: 70px;" src="https://www.facebook.com/v6.0/plugins/page.php?adapt_container_width=false&amp;app_id=&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fx%2Fconnect%2Fxd_arbiter%2F%3Fversion%3D46%23cb%3Df1e5ee7092338f%26domain%3Dbactom.com%26origin%3Dhttps%253A%252F%252Fbactom.com%252Ff255eed3ea033e8%26relation%3Dparent.parent&amp;container_width=360&amp;height=400&amp;hide_cover=false&amp;href=https%3A%2F%2Fwww.facebook.com%2Fraubactom&amp;locale=vi_VN&amp;sdk=joey&amp;show_facepile=true&amp;small_header=true&amp;width=300" class="" width="300px" height="400px" frameborder="0"></iframe>
            </div>
            <div class="footer__widget__social">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-youtube"></i></a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="footer__copyright">
            <div class="footer__copyright__text">
                <p>
                    Copyright &copy;
                    <script>document.write(new Date().getFullYear());</script> <i class="fa fa-heart" aria-hidden="true"> </i> by Nhóm 3
                </p>
            </div>
            @*<div class="footer__copyright__payment"><img src="img/payment-item.png" alt=""></div>*@
        </div>
    </div>
</div>
