<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Bán các loại thực phẩm hữu cơ sạch">
    <meta name="keywords" content="Rau củ, cá thịt, hoa quả">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>@ViewBag.Title</title>
    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">
    <!-- Css Styles -->
    <link rel="stylesheet" href="~/lib/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="~/lib/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="~/lib/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="~/lib/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="~/lib/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="~/lib/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="~/lib/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="~/lib/css/style.css" type="text/css">

    <style>
        a:hover {
            color: black;
        }
    </style>
</head>
<body>
    <div id="preloder">
        <div class="loader"></div>
    </div>
    <header class="header">
        <div class="header__top">
            @*Top website*@
            <partial name="_HeaderTop" />
        </div>
        @*Logo và menu*@
        <div id="topmenu">
            <partial name="_TopMenu" />
        </div>
    </header>
    <section class="hero">
        <partial name="_Category" />
    </section>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <partial name="_Footer" />
        </footer>
    </div>

    <script src="~/lib/js/jquery-3.3.1.min.js"></script>
    <script src="~/lib/js/bootstrap.min.js"></script>
    <script src="~/lib/js/jquery.nice-select.min.js"></script>
    <script src="~/lib/js/jquery-ui.min.js"></script>
    <script src="~/lib/js/jquery.slicknav.js"></script>
    <script src="~/lib/js/mixitup.min.js"></script>
    <script src="~/lib/js/owl.carousel.min.js"></script>
    <script src="~/lib/js/main.js"></script>
</body>
</html>

