@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-action="Logout" asp-controller="Account" method="post" id="logoutForm" class="navbar-right">
        <button type="submit" class="btn btn-link nav-link" style="display:inline; padding:0;">Log off</button>
    </form>

    <ul class="nav navbar-nav navbar-right">
        <li class="nav-item">
            <a asp-controller="Manage" asp-action="Index" class="nav-link" title="Manage">
                Hello @UserManager.GetUserName(User)!
            </a>
        </li>
    </ul>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li class="nav-item">
            <a asp-controller="Account" asp-action="Register" class="nav-link" id="registerLink">Register</a>
        </li>
        <li class="nav-item">
            <a asp-controller="Account" asp-action="Login" class="nav-link" id="loginLink">Log in</a>
        </li>
    </ul>
}
