@using organic_food_store.Models;
@using Microsoft.AspNetCore.Mvc;
@using Newtonsoft.Json;

<div class="container">
    <div class="row">
        <div class="col-lg-2">
            <div class="header__logo">
                <a asp-action="Index" asp-controller="Home"><img src="~/Lib/img/logotps.png" alt="Image_Good-Market"></a>
            </div>
        </div>
        <div class="col-lg-8">
            <nav class="header__menu">
                <ul>
                    <li>
                        <a href="#">Cửa hàng <i class="fa fa-caret-down"></i> </a>
                        <ul class="header__menu__dropdown">
                            <li><a href="#">102 Trường Chinh</a></li>
                            <li><a href="#">08 Trần Hưng Đạo</a></li>
                            <li><a href="#">446 Trần Huy Liệu</a></li>
                            <li><a href="#">228 Lộc Hạ</a></li>
                            <li><a href="#">11 Hoàng Văn Thụ</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Giới thiệu <i class="fa fa-caret-down"></i></a>
                        <ul class="header__menu__dropdown">
                            <li><a asp-action="_DailyBlogs" asp-controller="Blog">Tin tức</a></li>
                            <li><a href="#">Tuyển dụng</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Sản phẩm bán chạy <i class="fa fa-caret-down"></i></a>
                        <ul class="header__menu__dropdown">
                            <li><a asp-action="Details" asp-controller="Product" asp-route-id="2015">Rau cải ngọt</a></li>
                            <li><a asp-action="Details" asp-controller="Product" asp-route-id="2011">Khoai lang Đà Lạt</a></li>
                            <li><a asp-action="Details" asp-controller="Product" asp-route-id="2022">Ba chỉ lợn quế</a></li>
                            <li><a asp-action="Details" asp-controller="Product" asp-route-id="2038">Ổi Phúc Lợi</a></li>
                            <li><a asp-action="Details" asp-controller="Product" asp-route-id="2047">Trứng gà quê</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Tư vấn dinh dưỡng <i class="fa fa-caret-down"></i></a>
                        <ul class="header__menu__dropdown">
                            <li><a asp-action="_PregnantMothersBlogs" asp-controller="Blog">Cho mẹ bầu</a></li>
                            <li><a href="#">Cho trẻ nhỏ</a></li>
                            <li><a href="#">Cho người dậy thì</a></li>
                            <li><a href="#">Cho người trưởng thành</a></li>
                            <li><a href="#">Cho người già</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col-lg-2">
            <div class="header__cart">
                @{
                    string jsonCart = Context.Session.GetString("Cart");
                    var cart = jsonCart == null ? null : JsonConvert.DeserializeObject<List<CartItem>>(jsonCart);
                }
                <ul>
                    @if (cart != null)
                    {
                        <li>
                            <a href="#"><i class="fa fa-shopping-bag"></i> <span>@cart.Count</span></a>
                        </li>
                    }
                    else
                    {
                        <li><a href="#"><i class="fa fa-shopping-cart"></i> <span>0</span></a></li>
                    }
                </ul>
                @if (cart != null)
                {
                    var tongtien = 0.0;

                    foreach (var item in cart)
                    {
                        if (item.Product.KhuyenMai == null)
                        {
                            tongtien = tongtien + (double)item.Product.Gia * item.Quantity;
                        }
                        else
                        {
                            double km = Convert.ToDouble(item.Product.Gia * (100 - item.Product.KhuyenMai) / 100);
                            double km1 = km * item.Quantity;
                            tongtien = tongtien + km1;
                        }

                    }
                    <div class="header__cart__price">
                        Giỏ hàng:
                        <span>
                            @Convert.ToDecimal(tongtien).ToString("##,#")
                        </span>
                    </div>
                }
                else
                {
                    <div class="header__cart__price">Giỏ hàng: <span>0.0</span></div>
                }

            </div>
        </div>
    </div>
    <div class="humberger__open">
        <i class="fa fa-bars"></i>
    </div>
</div>
