@model organic_food_store.Models.TinTuc

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>TinTuc</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MaCm" class="control-label"></label>
                <select asp-for="MaCm" class ="form-control" asp-items="ViewBag.MaCm"></select>
            </div>
            <div class="form-group">
                <label asp-for="MotaNgan" class="control-label"></label>
                <input asp-for="MotaNgan" class="form-control" />
                <span asp-validation-for="MotaNgan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mota" class="control-label"></label>
                <input asp-for="Mota" class="form-control" />
                <span asp-validation-for="Mota" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NgayDang" class="control-label"></label>
                <input asp-for="NgayDang" class="form-control" />
                <span asp-validation-for="NgayDang" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Anh" class="control-label"></label>
                <input asp-for="Anh" class="form-control" />
                <span asp-validation-for="Anh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NguoiDang" class="control-label"></label>
                <input asp-for="NguoiDang" class="form-control" />
                <span asp-validation-for="NguoiDang" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TieuBieu" class="control-label"></label>
                <input asp-for="TieuBieu" class="form-control" />
                <span asp-validation-for="TieuBieu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LoaiTin" class="control-label"></label>
                <input asp-for="LoaiTin" class="form-control" />
                <span asp-validation-for="LoaiTin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TieuDe" class="control-label"></label>
                <input asp-for="TieuDe" class="form-control" />
                <span asp-validation-for="TieuDe" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
