@model TinTuc

@{
    ViewBag.Title = "Admin - Thêm mới tin tức";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Thêm tin tức mới</h2>

<form asp-action="Create" asp-controller="Blog" asp-area="Admin" method="post" class="form-horizontal">
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            <label class="control-label col-md-2">Chuyên mục</label>
            <div class="col-md-10">
                <select asp-for="MaCm" class="form-control" asp-items="@ViewBag.MaCm"></select>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Tên</label>
            <div class="col-md-10">
                <textarea asp-for="MotaNgan" class="form-control"></textarea>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Mô tả</label>
            <div class="col-md-10">
                <textarea asp-for="Mota" class="form-control"></textarea>
                <script type="text/javascript">
                    CKEDITOR.replace("Mota");
                </script>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Ngày đăng</label>
            <div class="col-md-10">
                <input asp-for="NgayDang" type="date" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Ảnh</label>
            <div class="col-md-10">
                <div class="col-md-4">
                    <input asp-for="Anh" id="Anh" class="form-control" />
                </div>
                <div class="col-md-2">
                    <input type="button" class="btn btn-default" id="browse" value="browse" />
                </div>
                <div class="col-md-3">
                    <img src="#" id="anhtin" width="50" height="50" />
                </div>
            </div>
        </div>

        <script type="text/javascript">
            $(document).ready(function () {
                $("#browse").click(function () {
                    var finder = new CKFinder();
                    finder.selectActionFunction = function (fileUrl) {
                        $("#Anh").val(fileUrl);
                        $("#anhtin").attr("src", fileUrl);
                    }
                    finder.popup();
                });
            });
        </script>

        <div class="form-group">
            <label class="control-label col-md-2">Người đăng</label>
            <div class="col-md-10">
                <input asp-for="NguoiDang" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Tiêu biểu</label>
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.CheckBoxFor(model => model.TieuBieu ?? false)
                    <label asp-for="TieuBieu"></label>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Loại tin</label>
            <div class="col-md-10">
                <input asp-for="LoaiTin" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Thêm mới" class="btn btn-success" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-area="Admin" asp-controller="Blog" asp-action="Index" class="btn btn-success">Trở về danh sách</a>
</div>
