@model ChuyenMuc

@{
    ViewBag.Title = "Admin - Xóa chuyên mục";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Xoá chuyên mục</h2>
<div>
    <dl class="dl-horizontal">
        <dt>Tên</dt>
        <dd>
            <span asp-for="@Model.Ten"></span>
        </dd>

        <dt>Mô tả</dt>
        <dd>
            <span asp-for="@Model.Mota"></span>
        </dd>

        <dt>Mã CT</dt>
        <dd>
            <span asp-for="@Model.MaCt"></span>
        </dd>
    </dl>

    <form asp-area="Admin" asp-action="Delete" asp-controller="BlogCategory" method="post">
        @Html.AntiForgeryToken() <!-- Thêm mã bảo vệ CSRF -->
        <div class="form-actions no-color">
            <button type="submit" class="btn btn-success">Xoá</button>
            <a asp-area="Admin" asp-action="Index" asp-controller="BlogCategory" class="btn btn-success">Trở về danh sách</a>
        </div>
    </form>
</div>
