@model ChuyenMuc

@{
    ViewBag.Title = "Admin - Chi tiết chuyên mục";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Chuyen Muc</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên
        </dt>
        <dd>
            <span asp-for="@Model.Ten"></span>
        </dd>

        <dt>
            Mô tả
        </dt>
        <dd>
            <span asp-for="@Model.Mota"></span>
        </dd>

        <dt>
            Mã CT
        </dt>
        <dd>
            <span asp-for="@Model.MaCt"></span>
        </dd>
    </dl>
</div>
<p>
    <a asp-area="Admin" asp-action="Edit" asp-controller="BlogCategory" asp-route-id="@Model.Ma" class="btn btn-primary">Sửa</a> |
    <a asp-area="Admin" asp-action="Index" asp-controller="BlogCategory" class="btn btn-success">Trở về danh sách</a>
</p>