@model DonHang;

@{
    ViewBag.Title = "Đặt hàng thành công";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <h3 style="color:green">
        Mã đơn hàng của bạn là <b>@Model.Ma</b>  bạn đã đặt hàng thành công. Chúng tôi sẽ sớm liên hệ với bạn. Mời bạn xác nhận đơn hàng trong Email
    </h3>
</div>

