@{
    ViewBag.Title = "Chính sách đổi trả";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Trang chủ</a></li>
            <li class="breadcrumb-item"><a href="#">Chính sách đổi, trả hàng</a></li>
        </ol>
    </nav>
    <div class="row">
        <div class="col-lg-12">
            <div class="section-title">
                <h2>Chính sách đổi, trả hàng</h2>
            </div>
        </div>
    </div>
    <div class="row">
        <strong>Căn cứ vào đặc thù sản phẩm tươi sống và nhằm nâng cao chất lượng dịch vụ sau bán hàng, hệ thống thực phẩm sạch Good-Marker xin trân trọng gửi tới quý khách  hàng Quy định đổi trả sản phẩm tại Good-Marker như sau:</strong>
        <ol>
            <li> <b>Good-Market</b>  đổi trả sản phẩm hoặc hoàn lại tiền mua cho khách hàng đối với sản phẩm lỗi hỏng, khi đáp ứng đồng thời các điều kiện như sau:</li>
        </ol>
        <ul>
            <li>
                Khách hàng khiếu nại trong thời gian quy định đối với từng loại sản phẩm, cụ thể như sau:
            </li>
        </ul>
    </div>
    <br />
    <table border="1" width="70%" height="500px">
        <tr style="text-align:center">
            <td>Sản Phẩm</td>
            <td>Thời hạn đổi trả</td>
            <td>Giá trị đổi trả</td>
        </tr>
        <tr style="text-align:center">
            <td>Thịt, cá, hải sản</td>
            <td>Trong vòng 48h</td>
            <td>100% giá trị đơn hàng</td>
        </tr>
        <tr style="text-align:center">
            <td>Các loại củ</td>
            <td>Trong vòng 48h</td>
            <td>100% giá trị đơn hàng</td>
        </tr>
        <tr style="text-align:center">
            <td>Các loại củ</td>
            <td>Trong vòng 48h</td>
            <td>100% giá trị đơn hàng</td>
        </tr>
        <tr style="text-align:center">
            <td>Rau tươi</td>
            <td>Trong vòng 24h</td>
            <td>100% giá trị đơn hàng</td>
        </tr>
        <tr style="text-align:center">
            <td>Hoa quả ăn ngay</td>
            <td>Trong vòng 24h</td>
            <td>Bằng giá trị hàng hỏng, lỗi</td>
        </tr>
        <tr style="text-align:center">
            <td>Hoa quả để chín</td>
            <td>Trong vòng 24h</td>
            <td>Bằng giá trị hàng hỏng, lỗi</td>
        </tr>
    </table>
    <br />
    <ul>
        <li>
            Khách hàng cung cấp hóa đơn mua hàng, mang theo sản phẩm lỗi, hỏng hoặc chụp lại hình ảnh làm căn cứ xác định nguyên nhân và giá trị phần sản phẩm bị hỏng, lỗi
        </li>
    </ul>
    Goof-Market sẽ <b>Không</b> xử lý khiếu nại với các trường hợp sản phẩm bị hỏng do lỗi của khách hàng trong quá trình vận chuyển, hoặc bảo quản và sử dụng không đúng hướng dẫn. Sản phẩm đã mua xin miễn đổi trả nếu không bị lỗi, hỏng hay có vấn đề về chất lượng.
    <ol>
        <li value="2"> Khách hàng có thể đổi lấy sản phẩm loại khách với  giá trị tương đương với giá trị tiền sản phẩm bị lỗi. Giá trị sản phẩm lỗi bằng lượng sản phẩm lỗi nhân với đơn giá tại thời điểm khách hàng mua sản phẩm</li>
        <li value="3"> Trường hợp khách hàng muốn tiến hành làm thủ tục hoàn lại tiền, giá trị tiền sẽ bằng số lượng sản phẩm hỏng, lỗi nhân với đơn giá sản phẩm tại thời điểm khách hàng mua hàng.</li>
    </ol>
    <p style="text-align:right">
        <b><i>Lưu ý: Quý khách vui lòng kiểm tra và giữ lại hóa đơn trước khi rời quầy thu ngân!</i></b>
    </p>
    Quý khách có thể xem thêm hướng dẫn mua hàng tại
    <a asp-action="BuyingGuide" asp-controller="Footer">đây</a> hoặc tìm kiếm địa chỉ
    <a asp-action="StoreList" asp-controller="Footer">cửa hàng</a> gần nhất.
</div>




