@{
    ViewBag.Title = "Admin - Thay đổi mật khẩu";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="container mt-5">
    <div class="row justify-content-center align-items-center">
        <div class="col-md-6">
            <div class="p-5 border rounded shadow">
                <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">Thay đổi mật khẩu</h1>
                </div>
                @if (ViewBag.message != null)
                {
                    <div class="alert alert-danger text-center" role="alert">@ViewBag.message</div>
                }
                <form style="margin-left:0;" asp-action="ChangePassword" asp-controller="Account" asp-area="Admin" method="post">
                    <div class="mb-3">
                        <input type="password" class="form-control" placeholder="Mật khẩu cũ" name="oldPassword" required>
                    </div>
                    <div class="mb-3">
                        <input type="password" class="form-control" placeholder="Mật khẩu mới" name="newPassword" required>
                    </div>
                    <div class="mb-3">
                        <input type="password" class="form-control" placeholder="Nhập lại mật khẩu" name="confirmNewPassword" required>
                    </div>
                    <button type="submit" class="btn btn-primary w-100">Lưu mật khẩu</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    $('.thongbao').delay(5000).fadeOut(300);
</script>

