@{
    ViewBag.Title = "Admin - Quên mật khẩu";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="p-5 border rounded shadow">
                <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">Cấp lại mật khẩu</h1>
                </div>
                @if (ViewBag.message != null)
                {
                    <div class="alert alert-danger text-center" role="alert">@ViewBag.message</div>
                }
                <form style="margin-left:0;" asp-action="ForgotPassword" asp-controller="Account" asp-area="Admin" method="post">
                    <div class="mb-3">
                        <input type="text" class="form-control" placeholder="Tên tài khoản" name="username" required>
                    </div>
                    <div class="mb-3">
                        <input type="email" class="form-control" name="recipientEmail" required placeholder="Email">
                    </div>
                    <button type="submit" class="btn btn-primary w-100">Cấp lại mật khẩu</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    $('.thongbao').delay(5000).fadeOut(300);
</script>

