@{
    ViewBag.Title = "Admin - Đăng kí";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6 mx-auto">
            <div class="p-5 border rounded shadow text-center">
                <h1 class="h4 text-gray-900 mb-4">Đăng ký tài khoản mới</h1>

                @if (ViewBag.message != null)
                {
                        <div class="alert alert-danger text-center" role="alert">@ViewBag.message</div>
                }

                <form style="margin-left:0;" asp-action="Register" asp-controller="Account" asp-area="Admin" method="post">
                        <div class="mb-3">
                                <input type="text" class="form-control" placeholder="Họ và tên" name="fullname" required>
                            </div>
                            <div class="mb-3">
                                <input type="email" class="form-control" name="email" required placeholder="Email">
                            </div>
                            <div class="mb-3">
                                <input type="text" class="form-control" placeholder="Tên tài khoản" name="username" required>
                            </div>
                            <div class="mb-3">
                                <input type="password" class="form-control" name="password" required placeholder="Mật khẩu">
                            </div>
                            
                            <button type="submit" class="btn btn-primary w-100">Đăng ký</button>
                    </form>
            </div>
        </div>
    </div>
</div>
<script>
    // Thêm script để ẩn thông báo sau 5 giây
    $(document).ready(function () {
        $('.alert').delay(5000).fadeOut(300);
    });

    // Script cho CKFinder
    $('#txtChonanh').click(function () {
        var finder = new CKFinder();
        finder.selectActionFunction = function (fileUrl) {
            $('#txtAnh').val(fileUrl);
        };
        finder.popup();
    });
    $('.thongbao').delay(5000).fadeOut(300);
</script>


